/* Estilos base */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #182028;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: top;
    margin-right: 20px;
}

h1 {
    margin: 0;
    color: #fff;
}

.portfolio-btn {
    background-color: #BB4430;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.portfolio-btn:hover {
    background-color: #7EBDC2;
}

.game-container {
    position: relative;
    margin-top: 20px; /* Ajusta el espacio entre el encabezado y el juego */
}

canvas {
    border: 5px solid #29434e;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    animation: fadeIn 0.5s ease-out;
}

.hidden {
    display: none;
}

#restartButton {
    background-color: #61C14E;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    margin-top: 20px;
}

#restartButton:hover {
    background-color: #4CAF50;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#scoreText {
    color: #fff;
    font-size: 18px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #61C14E;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

#scoreText:hover {
    background-color: #4CAF50;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
    }

    .game-container {
        position: relative;
        margin-top: 10px; /* Ajusta el espacio entre el encabezado y el juego */
    }
    
    canvas {
        border: 5px solid #29434e;
    }
    
    .overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        animation: fadeIn 0.5s ease-out;
    }


}

@media screen and (max-width: 480px) {
    header {
        padding: 10px;
    }
    h1 {
        font-size: 24px;
    }
    .portfolio-btn {
        padding: 8px 16px;
        font-size: 14px;
    }
    #restartButton {
        padding: 8px 16px;
        font-size: 14px;
    }
    #scoreText {
        font-size: 14px;
        padding: 8px;
    }
}