/* Resetear estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del body */
body {
    font-family: "Roboto", sans-serif; /* Cambiar la fuente del cuerpo del sitio */
    background-color: #f4f4f4; /* Cambiar el color de fondo del cuerpo del sitio */
    line-height: 1.6; /* Aumentar el espaciado entre líneas */
}

header {
    background-color: #351330; /* Cambiar el color de fondo del header */
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
}

/* Estilos de los botones del header */
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px; /* Agregar bordes redondeados */
    transition: background-color 0.3s, transform 0.2s; /* Agregar una transición suave */
}

nav a:hover {
    background-color: #563d7c; /* Cambiar el color de fondo al pasar el cursor */
    transform: translateY(-2px); /* Agregar un efecto de levantamiento */
}


/* Estilos de los botones de respuestas */
.answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.answer {
    background-color: #64908a;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

.answer:hover {
    background-color: #424254;
    transform: scale(1.05);
}

.correct {
    background-color: #2ecc71;
}

.incorrect {
    background-color: #e74c3c;
}

/* Estilos del botón siguiente */
#nextBtn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #64908a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

#nextBtn:hover {
    background-color: #424254;
}

/* Otros estilos */
.container {
    text-align: center;
    margin-top: 50px;
}

.message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

.success {
    background-color: #2ecc71;
    color: #fff;
}

.error {
    background-color: #e74c3c;
    color: #fff;
}

/* Media Queries */

/* Estilos para dispositivos con una anchura máxima de 768px (Tablet) */
@media screen and (max-width: 768px) {
    header {
        padding: 15px 0;
        border-radius: 0; /* Eliminar el radio del borde */
    }
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    nav a {
        margin: 5px; /* Ajustar el espacio entre los enlaces */
    }
    .container {
        margin-top: 30px;
    }
}

/* Estilos para dispositivos con una anchura máxima de 480px (Teléfono) */
@media screen and (max-width: 480px) {
    header {
        padding: 10px 0;
    }
    nav {
        flex-direction: column;
        align-items: center;
    }
    nav a {
        margin: 5px 0; /* Ajustar el espacio entre los enlaces */
    }
    .container {
        margin-top: 20px;
    }
    .answers {
        flex-direction: column;
    }
    .answer {
        margin: 5px 0; /* Ajustar el espacio entre las respuestas */
    }
}